/* Diablo Start */
.diablo-front {
  background-image: url('../images/d3-front.jpg');
  background-position: center center;
  padding: 50px 20px 70px;
  color: #ccc;
}
.diablo-front .diablo-block-form {
  width: 250px;
  margin: auto;
}

/* Diablo Profile */
.heroes-list,
.gear-list,
.skill-list {
  list-style: none;
}
.heroes-list a {
  display: block;
  height: 22px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 15px;
  width: 184px;
  padding: 100px 3px 3px;
  border: 2px solid #666;
  color: #fff;
  background-color: #121213;
}
.heroes-list a:hover {
  text-decoration: none;
}
.heroes-list li {
  float: left;
}
.heroes-list .barbarian-0,
.heroes-list .barbarian-1 {
  background-image: url('../images/barbarian.jpg');
}
.heroes-list .barbarian-0,
.heroes-list .barbarian-1,
.heroes-list .barbarian-0:hover,
.heroes-list .barbarian-1:hover {
  color: #b52615;
}
.heroes-list .demon-hunter-0,
.heroes-list .demon-hunter-1 {
  background-image: url('../images/demon-hunter.jpg');
}
.heroes-list .demon-hunter-0,
.heroes-list .demon-hunter-1,
.heroes-list .demon-hunter-0:hover,
.heroes-list .demon-hunter-1:hover {
  color: #735289;
}
.heroes-list .monk-0,
.heroes-list .monk-1 {
  background-image: url('../images/monk.jpg');
}
.heroes-list .monk-0,
.heroes-list .monk-1,
.heroes-list .monk-0:hover,
.heroes-list .monk-1:hover {
  color: #e5d34d;
}
.heroes-list .witch-doctor-0,
.heroes-list .witch-doctor-1 {
  background-image: url('../images/witch-doctor.jpg');
}
.heroes-list .witch-doctor-0,
.heroes-list .witch-doctor-1,
.heroes-list .witch-doctor-0:hover,
.heroes-list .witch-doctor-1:hover {
  color: #46c230;
}
.heroes-list .wizard-0,
.heroes-list .wizard-1 {
  background-image: url('../images/wizard.jpg');
}
.heroes-list .wizard-0,
.heroes-list .wizard-1,
.heroes-list .wizard-0:hover,
.heroes-list .wizard-1:hover {
  color: #5fc6e5;
}

/* Diablo Heroes */
.stats-table {
  width: 300px;
  clear: both;
}
.stats-table caption {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}
.stats-table td {
  text-align: right;
}
.stats-table th {
  text-transform: capitalize;
}
.heroes>h4,
.heroes>h3 {
  float: left;
  height: 50px;
  margin: 14px 5px 7px 5px !important;
}
.heroes .item-list {
  width: 30%;
  float: left;
  border: 2px solid #666;
  margin: 0 5px 5px 0;
  border-radius: 1px;
}
.heroes .item-list h3 {
  text-transform: capitalize;
  text-align: center;
  border-bottom: 1px solid #666;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #121213;
  color: #dde;
}
.gear-list,
.skill-list {
  margin: 5px !important;
}
.gear-list li {
  padding: 0;
}
.gear-list a {
  text-shadow: 1px 1px 0 #000;
}
.gear-list .green {
  color:  #a4df44;
}
.gear-list .orange {
  color: #fba412;
}
.gear-list .yellow {
  color: #ffff00;
}
.gear-list .blue {
  color: #a0c3ff;
}
.gear-list .gray {
  color: #c1c1c1;
}